<div>
  <h1>User Dashboard</h1>

  <div>
    <p><%= link_to "Upcoming Events", :events %></p>
  </div>

  <%= current_user.inspect %>

  <div>
    <% @users.each do |user| %>
      <ul>
        <%= link_to user.username, user %>
      </ul>
    <% end %>
  </div>
</div>
